@media screen and (max-width:980px) {
    .footer__nav {
        font-size: 12px;
        justify-content: space-around;
    }


}

@media screen and (max-width:540px) {
    .header__nav {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width:860px) {
    .banner {
        height: 750px;
    }

    .banner__wrap {
        height: 35svh;
    }

    .banner__content {
        transform: translateY(420px);
    }

}

@media screen and (max-width:640px) {
    .banner {
        height: 540px;
    }

    .banner__wrap {
        height: 35svh;
    }

    .banner__content {
        transform: translateY(250px);
    }
}

@media screen and (max-width:778px) {
    .part1 {
        flex-direction: column;
        gap: 20px;
    }

    .part2 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__contacts {
        max-width: 268px;
        width: 100%;
    }

    .footer__massangers {
        max-width: 268px;
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .body {
        flex-direction: column;
        gap: 20px;
    }

    .banner__content {
        height: 415px;
    }

    .footer__nav {
        justify-content: space-around;
        gap: 30px;
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width:330px) {
    .banner__content-title {
        font-size: clamp(1rem, -9rem + 53.33vw, 2rem);
    }

    .header__nav-list {
        gap: 30px;
    }
}